#cursor {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

#letme {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15pt;
}

#foryou {
    margin-bottom: 10px;
}